@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  height: 100vh;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  color: inherit;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
